{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Смена пароля &middot; {{ block.super }}{% endblock %}

{% block content %}
<div class="panel panel-narrow mx-auto">
  <div class="panel-head"><h1 class="h5 mb-0">Смена пароля</h1></div>
  <div class="panel-body">
    <form method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button 'Сохранить пароль' button_type='submit' button_class='btn-accent btn-block' %}
    </form>
  </div>
</div>
{% endblock %}
